/*body{
    background: linear-gradient(to left, #01399b, #360c7c);
    background: url("background.jpg");

}*/
/*.logo {
    margin:30px; 
    width: 20%;
}

.menu{
  
    background: #31258b;
}

h1{
    font-size:90px;
    text-align:center;
    color:#FFFFFF; 
    background:blue;
    padding:250px;
}



.rodape{
    background:blue;
    padding:70px 100%;
}*/